#arti{
    background-color: aquamarine;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bold{
    color: pink;
}
#head{
    color: cadetblue;
    font-style: italic;
}