.pic{
    background-image: url("https://initiate.alphacoders.com/images/481/cropped-150-150-481903.png?2991");
    background-size:auto;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    
}   
p{
    line-height: 30px;
}

